.loginPage {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.quoteContainer {
  width: 47%;
  background-color: rgba(255, 255, 255, 0.7);
  background: url('../../data/images/Books.png') no-repeat center/cover,
    linear-gradient(lightgray, lightgray), #c4c4c4;
}

.loginContainer {
  padding-left: 11.5rem;
  width: 53%;
}
