.userProfile-container {
  display: flex;
  flex-direction: column;
  gap: 5.8rem;
  flex: 1;
}

.achievements-featured-container {
  display: flex;
  width: 100%;
  gap: 2.5rem;
}

.userProfile-info {
  display: flex;
  gap: 2.25rem;
  align-items: center;
  margin-top: 2rem;
  position: relative;
}

@media (max-width: 1390px) {
  .userProfile-container {
    gap: 12rem;
  }

  .achievements-featured-container {
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 750px) {
  .userProfile-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.75rem;
  }
  .userProfile-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
  }
}

@media (max-width: 550px) {
  .userProfile-container {
    gap: 7.8rem;
  }
}

@media (max-width: 456px) {
  .userProfile-container {
    gap: 12.8rem;
  }
}
