.quoteSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64rem; /* This will take the full viewport height, you can adjust as needed */
  backdrop-filter: blur(12.5px);
}

.quoteCard {
  position: relative;
  max-width: 70%;
  padding-left: 8rem;
}

.quote-icon {
  color: #00daf7;
  font-family: 'Gayathri', sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: normal;
  display: block;
  margin-bottom: -5rem;
  margin-left: -1rem;
}

.quote-vector {
  position: absolute;
  right: -5%;
  transform: scale(0.8); /* Adjust as needed */
}

.quoteSection blockquote,
.quoteSection cite {
  color: #fff;
  font-size: 1.125rem;
  line-height: 2.375rem;
}

.quoteSection cite {
  display: block;
  line-height: normal;
  font-weight: 500;
  margin-top: 0.88rem;
}

@media (max-width: 1125px) {
  .quoteCard {
    padding-left: 3rem;
  }

  .quoteCard {
    padding-left: 0rem;
  }
}

@media (max-width: 850px) {
  .quoteSection {
    padding-top: 8rem;
    padding-bottom: 8rem;
    height: auto;
  }
}
