.stat-item {
  display: flex;
  gap: 1rem;
}

.stat-icon {
  padding: 0.8rem;
  padding-bottom: 0.5rem;
  border-radius: 0.9375rem;
  background: #fff;
  box-shadow: 0px 15px 40px 5px #ededed;
}
.stat-icon svg {
  width: 2rem;
  height: 2rem;
}

.smaller-icon svg {
  width: 2.1rem;
  height: 2.2rem;
}

.stat-value {
  font-size: 1.8125rem;
  font-weight: 700;
}

.stat-label {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 750px) {
  .stat-label {
    font-size: 0.75rem;
  }

  .stat-value {
    font-size: 1.5rem;
  }
}
