.dashboard-navbarFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-searchWrapper {
  position: relative;
}

.dashboard-search {
  padding: 1.06rem 7.5rem 1.13rem 4.06rem;
  border-radius: 1.875rem;
  background: #fff;
  box-shadow: 0px 15px 40px 5px #ededed;
  color: #696f79;
  font-family: Poppins;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.dashboard-searchIcon {
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background: url('../../data/icons/navSearch-icon.png') no-repeat center center;
  background-size: contain;
}

.dashboard-startQuizBtn {
  color: #fff;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 1.875rem;
  background: #8692a6;
  padding: 1rem 3.5rem;
  border: none;
  display: block;
}

.dashboard-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard-profileName {
  color: #696f79;
  font-family: Poppins;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1390px) {
  .dashboard-profile {
    display: none;
  }
}

@media (max-width: 1030px) {
  .dashboard-search {
    margin-left: 2rem;
  }
  .dashboard-searchIcon {
    left: 17%;
  }
}

@media (max-width: 850px) {
  .dashboard-search {
    padding-right: 3rem;
  }
}

@media (max-width: 750px) {
  .dashboard-startQuizBtn {
    display: none;
  }

  .dashboard-search {
    padding-right: 5rem;
    padding: 0.8rem 5.5rem 0.8rem 4.06rem;
    margin-top: 0.4rem;
  }

  .dashboard-searchIcon {
    width: 20px;
    height: 20px;
    top: 58%;
  }
}

@media (max-width: 580px) {
  .dashboard-search {
    padding-right: 0rem;
  }
  .dashboard-search {
    margin-left: 1rem;
  }
}
