.achievements-container,
.comeback-container,
.winner-container,
.lucky-container,
.achievementMedals-container {
  display: flex;
  flex-direction: column;
}

.achievements-container {
  width: 48.5%;
  gap: 1rem;
}

.achievements-progressBar {
  align-items: baseline;
}
.achievements-progressBar,
.comeback-winner-container {
  display: flex;
  justify-content: space-between;
}

.achievements-progressBar h2 {
  font-size: 1.5625rem;
  font-weight: 700;
}

.achievementMedals-container {
  flex: 1;
  border-radius: 1.875rem;
  background: #fff;
  box-shadow: 0px 15px 40px 5px #ededed;
  padding: 2rem 2.5rem 1.5rem;
}

.achievementMedals-container p,
.comeback-container p,
.winner-container p,
.lucky-container p {
  font-size: 0.875rem;
}

.comeback-container,
.winner-container {
  gap: 0.7rem;
}

.comeback-container p,
.winner-container p,
.lucky-container p {
  align-self: center;
}

.lucky-container {
  align-self: center;
}

.all-Badge {
  border-top: 1px solid #dadada;
  text-align: center;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 1rem;
}

@media (max-width: 1390px) {
  .achievements-container {
    width: auto;
    gap: 1.5rem;
  }
}

@media (max-width: 1390px) {
  .achievements-container {
    width: auto;
    gap: 1.5rem;
  }
}

@media (max-width: 750px) {
  .badge-container,
  .winner-container,
  .lucky-container {
    width: 5rem;
  }
}

@media (max-width: 550px) {
  .badge-container,
  .winner-container,
  .lucky-container {
    width: 3rem;
  }

  .achievements-progressBar h2 {
    font-size: 1.2625rem;
  }
}
