.Quiz-Instructions-flex {
  display: flex;
  gap: 3rem;
}

.Quiz-Instructions-flex img {
  width: 45%;
  border-radius: 1.5rem;
  box-shadow: 0px 15px 40px 5px #ededed;
  height: 17rem;
}

.Quiz-Information-container {
  width: 48%;
}

.Quiz-Info-container {
  display: flex;
  width: 65%;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.Quiz-Info-container h3 {
  font-size: 1.4375rem;
  font-weight: 600;
}

.Quiz-Info-container p {
  font-size: 1.25rem;
}

@media (max-width: 1240px) {
  .Quiz-Info-container {
    display: flex;
    width: 100%;
  }
  .Quiz-Instructions-flex img {
    width: 20rem;
    height: 16rem;
  }
}

@media (max-width: 770px) {
  .Quiz-Instructions-flex {
    display: flex;
    flex-direction: column;
  }

  .Quiz-Instructions-flex img {
    width: 25rem;
    height: 18rem;
  }

  .Quiz-Information-container {
    width: 90%;
  }
}

@media (max-width: 530px) {
  .Quiz-Instructions-flex img {
    height: 13rem;
  }
  .Quiz-Info-container p {
    font-size: 1.15rem;
  }
  .Quiz-Info-container h3 {
    font-size: 1.15rem;
    font-weight: 600;
  }
}
